body{
    background-color: #fffafb;
}
.fa {
  padding: 0px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-instagram {
    background: #fffafb;
    color: #6ba49c;
}
.fa-instagram:hover{
    color: #a0bbb7;
}

.menu_option{
    color: #6ba49c;
}

.menu_option:hover{
    color: #a0bbb7;
    background: #fffafb;
}

#therapies-dropdown{
    background-color: #fffafb;
}

#therapies-dropdown:focus{
    background-color: #fffafb;
    color: rgb(221, 216, 198);
}

#therapies-dropdown:hover{
    background-color: #fffafb;
    color: rgb(221, 216, 198);
}

.bottom{
    background: #fffafb;
    color: #6ba49c;
}

h1, h2, h3, h4, h5  {
    color: #6ba49c;
}

.card {
    background-color: #fffaea;
}

  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  
     
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
          
   
  .transition {
      -webkit-transform: scale(1.2); 
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
  }
      .modal-header {
     
       border-bottom: none;
  }
      .modal-title {
          color:#000;
      }
      .modal-footer{
        display:none;  
      }

  